$box-w-size: 300px;
.main_box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  margin-top: 10px;
}

.create_edit_box {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: right;
  overflow: hidden;
}

.dialog_box {
  width: $box-w-size;
  height: $box-w-size;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.create_edit_dialog_actions {
  display: flex;
  justify-content: center !important;
  gap: 20px;
}

.task_list_del_edit_box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}